    .c-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    min-height: 100vh;
    width: 80%;
    /* max-width: 900px; */
    margin: 0 auto;
  }
  
  .c-header {
    display: block;
    width: 100%;
  }
  
  .u-a5 {
    font-family: Arial;
    font-size: 37px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .u-b4 {
    font-family: Arial;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.3px;
    font-weight: normal;
    color: #fff;
  }
  
  a {
    text-decoration: none;
  }
  
  .u-media-wrapper {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 0;
  }
  .u-media-wrapper.u-media-wrapper--16-9 {
    padding-bottom: 56.25%;
  }
  
  .c-gradient-overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 49% 50%, rgba(2, 21, 25, 0.3), rgba(2, 21, 25, 0.6));
  }
  
  .c-mouse-vertical-carousel {
    position: relative;
    overflow: hidden;
  }
  .c-mouse-vertical-carousel__list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
  .c-mouse-vertical-carousel__list-item a {
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 54.1666666667%;
  }
  .c-mouse-vertical-carousel__eyebrow {
    position: relative;
    padding-bottom: 12px;
  }
  .c-mouse-vertical-carousel__eyebrow span {
    position: absolute;
    left: -30px;
    top: 2px;
  }
  .c-mouse-vertical-carousel__title {
    max-width: 450px;
  }
  .c-mouse-vertical-carousel__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    will-change: transform;
  }