input {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  word-wrap: break-word;
}