@charset "UTF-8";

/* ==================================================

01 - SETUP

=====================================================*/
/* Google Font */
/* poppins-100 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/poppins/poppins-v5-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/poppins/poppins-v5-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-100.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-100.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-100.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-100.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-100italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/poppins/poppins-v5-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("../fonts/poppins/poppins-v5-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-100italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-100italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-100italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-100italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins/poppins-v5-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/poppins/poppins-v5-latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-200.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-200.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-200.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-200.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-200italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/poppins/poppins-v5-latin-200italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../fonts/poppins/poppins-v5-latin-200italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-200italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-200italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-200italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-200italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v5-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../fonts/poppins/poppins-v5-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */
}

/* poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v5-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../fonts/poppins/poppins-v5-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900italic.svg#Poppins") format("svg");
  /* Legacy iOS */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  letter-spacing: .5px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

a:hover {
  text-decoration: none;
}

.over-all {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background: #000;
  mix-blend-mode: color;
  pointer-events: none;
  opacity: 0;
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
}

.spinning {
  width: 100px;
  height: 100px;
  background: url("../img/wait.svg") no-repeat center center;
  border: 0;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -50px;
  margin-top: -50px;
  mix-blend-mode: normal;
}

.block-1 {
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  background: #000;
  position: fixed;
  z-index: 998;
}

.block-2 {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  position: fixed;
  z-index: 999;
}

.logo-load {
  position: fixed;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  mix-blend-mode: difference;
  z-index: 9999;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.between {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* margin-top */
.mt-half {
  margin-top: 90vh !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-200 {
  padding-top: 200px !important;
}

/* margin bottom */
.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.bg-darks {
  background: #000;
}

::-moz-selection {
  color: #000;
}

::selection {
  color: #000;
}

::-moz-selection {
  color: #000;
}

::selection {
  background-color: #fff;
}

::-moz-selection {
  background-color: #fff;
}

mark {
  color: #212121;
}

body {
  background: #000;
}

/* ==================================================

2 - NAVBAR

=====================================================*/
.copyright-top {
  position: fixed;
  top: 88vh;
  left: 9%;
  z-index: 10;
}

.copyright-top p {
  font-size: 12px;
  margin: 10px 0 0 0;
  color: #fff;
  font-weight: 700;
}

.socials {
  position: fixed;
  top: 88vh;
  right: 9%;
  z-index: 10;
}

.socials ul {
  list-style: none;
}

.socials ul li {
  display: inline;
  margin-left: 15px;
}

.socials ul li a {
  font-size: 11px;
  color: #fff;
  font-weight: 700;
}

.socials ul li a:hover {
  text-decoration: none;
}

.toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  margin-top: 10vh;
  width: 50px;
  height: 50px;
  right: 8%;
  mix-blend-mode: difference;
  z-index: 99 !important;
}

nav .container {
  position: relative;
}

.logo {
  position: fixed;
  margin-top: 10vh;
  width: 50px;
  height: 50px;
  left: 8%;
  mix-blend-mode: difference;
  z-index: 99 !important;
}

.toggle-btn::before {
  content: 'MENU';
  position: absolute;
  width: 80px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #fff;
  right: 0px;
  font-weight: 500;
}

.one {
  display: block;
  position: relative;
  width: 25px;
  height: 1px;
  background: #fff;
}

.two {
  display: block;
  position: relative;
  width: 25px;
  height: 1px;
  background: #fff;
  margin-top: 4px;
}

.tre {
  display: block;
  position: relative;
  width: 25px;
  height: 1px;
  background: #fff;
  margin-top: 4px;
}

.bg-nav {
  position: fixed;
  top: 0;
  z-index: 97;
  height: 100vh;
  width: 100%;
  background: #000;
  opacity: 0;
  pointer-events: none;
}

.menu {
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 98;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-text p {
  font-weight: 300;
  line-height: 30px;
  color: #fff;
}

.data {
  text-align: left;
}

.data ul {
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.menu li {
  color: #fff;
}

.menu li p {
  position: absolute;
  opacity: .5;
  top: 25px;
  left: -10px;
}

a.menu-link {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: transparent;
  opacity: .7;
  -webkit-text-stroke: 1px #fff;
  font-size: 50px;
  font-weight: 900;
  margin: 0 20px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a.menu-link:hover {
  opacity: 1;
}

a.menu-link.active {
  opacity: 1;
}

.toggle-btn:hover {
  cursor: pointer;
}

.address-menu h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

.address-menu h4 {
  color: #fff;
  font-size: 12px;
  opacity: .5;
}

a {
  cursor: none;
}

/* ==================================================

3 - CURSOR

=====================================================*/
.cursor,
.cursor1 {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity .3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity .3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 9999999;
}

.cursor {
  width: 7px;
  height: 7px;
  background-color: #fff;
  mix-blend-mode: difference;
}

.cursor1 {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  mix-blend-mode: difference;
}

.cursor1.expand {
  background-color: #fff;
  border: 0;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1.6);
  -webkit-transform: translate(-50%, -50%) scale(1.6);
  -moz-transform: translate(-50%, -50%) scale(1.6);
  -ms-transform: translate(-50%, -50%) scale(1.6);
  -o-transform: translate(-50%, -50%) scale(1.6);
}

.cursor1.drag::before,
.cursor1.drag::after {
  color: #000;
  font-family: 'fonticons';
  font-size: .6rem;
  margin-top: -.6rem;
  position: absolute;
  top: 50%;
}

.cursor1.drag::before {
  content: '\e801';
  left: -10px;
}

.cursor1.drag::after {
  content: '\e803';
  right: -10px;
}

.cursorDrag {
  cursor: none !important;
}

.cursor1.explore {
  width: 100px;
  height: 100px;
  background: url("../img/click.svg") no-repeat center center;
  border: 0;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -50px;
  margin-top: -50px;
  mix-blend-mode: normal;
}

.cursor1.zoom {
  width: 100px;
  height: 100px;
  background: url("../img/zoom.svg") no-repeat center center;
  border: 0;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -50px;
  margin-top: -50px;
  mix-blend-mode: normal;
}

.cursor1.next {
  width: 100px;
  height: 100px;
  background: url("../img/next.svg") no-repeat center center;
  border: 0;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -50px;
  margin-top: -50px;
  mix-blend-mode: normal;
}

.cursor1.prev {
  width: 100px;
  height: 100px;
  background: url("../img/prev.svg") no-repeat center center;
  border: 0;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-left: -50px;
  margin-top: -50px;
  mix-blend-mode: normal;
}

/* ==================================================

4 - HEADER

=====================================================*/
.scrolls {
  z-index: 10;
  position: absolute;
  top: calc(90vh - 50px);
  left: calc(50% - 50px);
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.bg-right {
  background: #000;
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%) skew(20deg);
  -webkit-transform: translate(-50%, -50%) skew(20deg);
  -moz-transform: translate(-50%, -50%) skew(20deg);
  -ms-transform: translate(-50%, -50%) skew(20deg);
  -o-transform: translate(-50%, -50%) skew(20deg);
  text-align: center;
  left: 50%;
  height: 80vh;
  width: 20vw;
  top: 50vh;
}

.bg-3 {
  background: url("../img/home.jpg") center no-repeat;
  background-size: cover;
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  height: 60vh;
  width: 40vw;
  top: 50vh;
}

.heading-text-front {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  width: 90%;
  top: 50%;
  z-index: 4;
}

.heading-text-front h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-weight: 900;
  font-size: 60px;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 1px;
}

.heading-text-back {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  width: 90%;
  top: 50%;
  z-index: -1;
}

.heading-text-back h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  -webkit-text-stroke: 0px #fff;
  letter-spacing: 1px;
}

.main-head {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.main-head .container {
  position: relative;
}

h1.title {
  font-size: 90px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* ==================================================

5 - PORTFOLIO

=====================================================*/
.main-title::before {
  position: absolute;
  width: 70px;
  height: 2px;
  background: #fff;
  content: '';
  bottom: -10px;
  left: calc(50% - 35px);
}

.main-title h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.main-title h2 span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.folio-content {
  background: #000;
}

.folio-content .folio-item {
  margin-top: 100px;
  position: relative;
  padding: 0 20px;
}

.folio-content .folio-item .img-folio {
  z-index: 2;
  position: relative;
}

.folio-content .folio-item .img-folio a {
  cursor: none;
}

.folio-content .folio-item .img-folio img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.folio-content .folio-item .img-folio:hover img {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.folio-content .folio-item .text-folio h2.text-1 {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px #fff;
  z-index: 4;
  left: 50%;
  bottom: 1px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.folio-content .folio-item .text-folio h2.text-2 {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 2px;
  z-index: 1;
  left: 50%;
  bottom: 1px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* ==================================================

6 - ABOUT

=====================================================*/
.bg-about {
  background: url("../img/about-1.jpg") center no-repeat;
  z-index: 3;
  position: fixed;
  text-align: center;
  left: 50%;
  height: 30vh;
  width: 40vw;
  top: 20vh;
}

.bg-about-2 {
  background: url("../img/about-2.jpg") center no-repeat;
  z-index: 3;
  position: fixed;
  text-align: center;
  left: 10vw;
  height: 50vh;
  width: 30vw;
  top: 30vh;
}

.about {
  background: #000;
}

.about-page {
  background: #000;
}

#img-about {
  position: relative;
}

.img-mask {
  position: absolute;
  width: 120%;
  height: 120%;
  left: 0;
  top: 0;
  z-index: 2;
  background: #000;
}

.about-text h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 800;
  /* font-size: large; */
}

.about-text p {
  font-size: large;
}

.abt-text {
  margin-left: -200px;
  background: #000;
  padding: 40px 40px;
}

.abt-text a {
  font-size: 14px;
  color: #5c5c5c;
  font-weight: 900;
  position: relative;
}

.abt-text a::after {
  width: 40px;
  height: 2px;
  position: absolute;
  content: '';
  top: 10px;
  margin-left: 5px;
  background: #5c5c5c;
  transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
}

.abt-text a:hover {
  text-decoration: none;
}

.abt-text a:hover::after {
  margin-left: 15px;
}

.sub-abt {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(90deg) translateY(-50%) translateX(-50%);
  -webkit-transform: rotate(90deg) translateY(-50%) translateX(-50%);
  -moz-transform: rotate(90deg) translateY(-50%) translateX(-50%);
  -ms-transform: rotate(90deg) translateY(-50%) translateX(-50%);
  -o-transform: rotate(90deg) translateY(-50%) translateX(-50%);
}

.sub-abt p {
  text-align: center;
  margin: 0;
  font-weight: 700;
}

/* ==================================================

7 - FOOTER

=====================================================*/
.footer {
  z-index: -2;
  padding: 0 0 50px 0;
}

.footer .logo-foot {
  mix-blend-mode: difference;
}

.footer a {
  font-size: 14px;
}

.footer a:hover {
  text-decoration: none;
}

.footer .sosmed ul {
  list-style: none;
}

.footer .sosmed ul li {
  display: inline;
  margin-left: 10px;
}

.footer .sosmed ul li a {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.footer .sosmed ul li a:hover {
  text-decoration: none;
}

.footer .mail a {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.footer .copyright p {
  line-height: normal;
  font-size: 12px;
  margin: 5px 0 0 0;
  color: #5c5c5c;
}

/* ==================================================

8 - SERVICE

=====================================================*/
.service-item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 30px 30px;
  overflow: hidden;
  background: #050505;
}

.front {
  z-index: 3;
}

.service-icon {
  margin: 20px 0;
}

.service-icon img {
  width: 70px;
}

.service-text {
  padding: 20px 0;
}

.service-text h3 {
  color: #fff;
  text-align: left;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.service-text p {
  margin-top: 20px;
}

.service-list {
  padding: 0;
  margin-top: 20px;
}

.service-list li {
  display: block;
  color: #fff;
  margin: 10px 0;
}

/* ==================================================

9 - PARTNER

=====================================================*/
.partner {
  padding-left: 40px;
  padding-right: 40px;
}

/* 
.partner-list {
  border: 1px solid #5c5c5c;
}
*/

.partner-list img {
  padding: 30px;
}

/* ==================================================

10 - BLOG

=====================================================*/
.blog-img:hover img {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

.blog-img img {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}

.blog-text {
  padding: 0 10px 0 0;
}

.blog-text h3 {
  color: #fff;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.blog-text p {
  color: #8f8f8f;
}

.bg-detail-blog {
  background: url("../img/blog/detail.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  position: absolute;
  text-align: center;
  left: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
}

h3.detail-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}

.article {
  color: #fff;
}

.article h3 {
  font-size: 24px;
  font-weight: 700;
}

.article p {
  margin-top: 20px;
  color: #8f8f8f;
}

.article .quote p {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 50px 0;
  color: #c3c3c3;
}

.article .author p {
  margin-bottom: 20px;
}

.line {
  height: 1px;
  margin-top: 40px;
  width: 100px;
  background: #fff;
  position: absolute;
  left: calc(50% - 50px);
}

/* ==================================================

10 - WORK

=====================================================*/
.bg-work {
  background: url("https://picsum.photos/seed/work1/600/660?blur=2") center no-repeat;
  z-index: 3;
  position: fixed;
  text-align: center;
  left: 50%;
  height: 30vh;
  width: 40vw;
  top: 20vh;
}

.bg-work-2 {
  background: url("https://picsum.photos/seed/work2/600/660?blur=2") center no-repeat;
  z-index: 3;
  position: fixed;
  text-align: center;
  left: 10vw;
  height: 50vh;
  width: 30vw;
  top: 30vh;
}

/* ==================================================

11 - WORK DETAIL

=====================================================*/
.bg-detail-work {
  background: url("../img/detail-work/1/1.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  left: 0;
  height: 50vh;
  width: 50vw;
  left: 25%;
  top: 25vh;
}

.bg-detail-work-2 {
  background: url("../img/detail-work/2/3.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  left: 0;
  height: 50vh;
  width: 50vw;
  left: 25%;
  top: 25vh;
}

.about-work h3 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.about-work p {
  color: #c3c3c3;
  font-size: 14px;
  margin: 0;
}

.about-work a {
  font-size: 12px;
  color: #fff;
}

.next-project {
  color: #fff;
  margin-top: 100px;
  background-size: cover;
}

.next-project p {
  margin: 0;
}

.next-project h3 {
  font-weight: 900;
  color: transparent;
  font-size: 40px;
  -webkit-text-stroke: 1px #fff;
  transition: ease-in-out .3s all;
  -webkit-transition: ease-in-out .3s all;
  -moz-transition: ease-in-out .3s all;
  -ms-transition: ease-in-out .3s all;
  -o-transition: ease-in-out .3s all;
}

.next-project h3:hover {
  color: #fff;
}

.right-over-next {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 10;
}

.right-over-prev {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 11;
}

/* ==================================================

12 - ERROR PAGE

=====================================================*/
.bg-error {
  background: url("../img/error/1.jpg") center no-repeat;
  z-index: -1;
  position: fixed;
  text-align: center;
  left: 25%;
  height: 50vh;
  width: 50vw;
  top: 25vh;
}

.error-page {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.error-page h2 {
  font-size: 120px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.error-page p {
  color: #fff;
}

.error-page a {
  color: #adadad;
}

/*
 * MENU BUTTON
 */
.menu__toggler {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  z-index: 102;
  height: 50px;
  width: 50px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.menu__toggler span,
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 2.5px;
  background: #000;
  border-radius: 20px;
  left: 12px;
  -webkit-transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu__toggler span::before {
  top: -8px;
  left: 0;
}

.menu__toggler span::after {
  top: 8px;
  left: 0;
}

.menu__toggler.activez > span {
  background: transparent;
}

.menu__toggler.activez > span::before,
.menu__toggler.activez > span::after {
  background: #000;
  top: 0px;
}

.menu__toggler.activez > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.menu__toggler.activez > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/*
   * SLIDING MENU PANEL
   */
.menus {
  position: fixed;
  left: -30%;
  z-index: 101;
  color: #000;
  background: #ffff;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 600px) {
  .menus {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}

.menus.activez {
  left: 0;
}

.menus a {
  font-size: 15px;
  margin-bottom: 1rem;
  color: #000;
}

.menus a:hover {
  opacity: .5;
}

.full-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.swiper-slide {
  height: 100vh;
}

.img-slide {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.img-slide img {
  width: 100%;
}

.text-slide {
  height: 60px;
  position: relative;
  overflow: hidden;
  position: absolute;
  top: 40%;
  left: 10%;
  width: 100%;
}

.text-slide h2.text-1 {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: transparent;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px #fff;
  z-index: 4;
  pointer-events: none;
}

.text-slide h2.text-2 {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 2px;
  z-index: 1;
  left: 0;
  pointer-events: none;
}

.swiper-slide {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  transition: .2s ease all;
  -webkit-transition: .2s ease all;
  -moz-transition: .2s ease all;
  -ms-transition: .2s ease all;
  -o-transition: .2s ease all;
}

.swiper-slide-next .img-slide img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.swiper-slide-prev .img-slide img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.swiper-wrapper {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 40%;
  height: 2px;
  left: 30%;
  top: auto;
  bottom: 10%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #ffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.swiper-pagination-progressbar {
  position: absolute;
  background: rgba(218, 213, 213, 0.25);
}

.bg-half {
  position: fixed;
  width: 50%;
  height: 100vh;
  background: #ececec;
  right: 0;
  top: 0;
}

.bg-half-l {
  position: fixed;
  width: 50%;
  height: 100vh;
  background: #111111;
  left: 0;
  top: 0;
}

.intro {
  position: relative;
  margin: 30px;
  overflow: hidden;
}

.intro:hover .over-intro {
  height: 100%;
}

.intro .over-intro {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 0;
  background: #050505;
  z-index: 2;
  bottom: 0;
  left: 0;
  opacity: .5;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  -o-transition: all ease .3s;
}

h3.glp {
  color: #fff;
}

h3.lght {
  color: #f0353c;
}
/*# sourceMappingURL=main.css.map */