@charset "UTF-8";

/* =====================================

                MAIN SETUP

   =====================================
*/

/* FONTS */
@font-face {
    font-family: 'Poppins';
    src: url();
    font-style: normal;
    font-weight: 100;
    /* IE9 Compat Modes */
    src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/poppins/poppins-v5-latin-100.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-100.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-100.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-100.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-100.svg#Poppins") format("svg");
    /* Legacy iOS */
}